<header>
  <nav>
      <div class="container">
          <ul>
              <li>
                  <a href="login" (click)="openModal($event)">Login</a>
              </li>
              <li>
                  <a href="sign-up"  (click)="openModal($event)">Sign Up</a>
              </li>
              <li>
                  <a href="/logout">Logout</a>
              </li>
              <li>
                  <a href="/about">About</a>
              </li>
              <li>
                  <a href="/gratitude">Gratitude</a>
              </li>
              <li>
                  <a href="/exercise">Exercise</a>
              </li>
              <li>
                  <a href="/breathe">Breathwork</a>
              </li>
              <li>
                  <a href="/meditation">Meditation Zone</a>
              </li>
          </ul>
      </div>
  </nav>
</header>

